
body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;

}

.blue-border, .green-border {
    border-style: solid;
    border-width: 5px;
}
.green-border {
    border: solid white 10px;

}

.red-border {
    text-align: right;
    background-color: #A8F0F0;
}

.red-border .orange-border {
    margin: 1px;
    font-size: 14pt;
}

span {
    border-bottom: blue dashed 2px;
}

.second-column {
    border: solid 4px;
    border-radius: 15px;
    background-color: #C2E9E9;
    padding: 5px;
    margin-top: 10px;
    margin: 1em;
    float: left;
}

.blue-border1,.blue-border2{
    border: solid 4px;
    border-radius: 50px 20px;
    background-color: #C2E9E9;
    padding: 5px;
    margin-top: 10px;
    overflow: auto;
    float: right;
    text-shadow: 1px 1px #404040;
}

.blue-border2 {
    margin-left: 250px;
}


img {
    float: right;
    overflow: auto;
}


