body {
    background-image: url("../images/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: auto;
}

#banner-image {
    text-align: center;
    background-image: url("../images/bannerbg.png");
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

#content{
    width: 800px;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#section1{
    width: 550px;
    float: left;
}

#section2 {
    width: 250px;
    float:right;
    background-color: #A2B964;
}

#top {
    background-image: url("../images/rbg.png");
    height: 83px;
    color: red;
    font-weight: bold;
    font-size: 48pt;
}

.review-column {
    column-count: 2;
    padding: 2%;
}

#section1 p:nth-child(odd) {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    margin-: 20pt 0pt 20pt 0pt;
}

#section1 p img {
    padding-right: 5px;
}

#section1 p:nth-child(even){
    font-style: italic;

}

dl {
    padding-left: 10pt;
    font-weight: bold;

}

dt {
    padding-top: 10pt;
}

dt,dd {
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

#content>p {
    text-align: center;
    background-color: #A2B964;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    width: 80%;
}

body>div:last-child {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}