
body {
  background-color: brown;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: cyan;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  text-align: left;
}

h3 {
  color: cyan;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: left;
}

.attr {
  color: yellow;
}

p::first-letter {
  initial-letter: 3;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}

dt {
  color: yellow;
}
